name: Update package libs

on:
  workflow_dispatch:
    inputs:
      libraryVersion:
        description: 'Library Version'
        required: true
        default: ''
      packageVersion:
        description: 'Package Version'
        required: true
        default: ''

jobs:
  deploy:

    runs-on: ubuntu-latest
    env:
      LIBRARY_VERSION: ${{ github.event.inputs.libraryVersion }}
      PACKAGE_VERSION: ${{ github.event.inputs.packageVersion }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.15.0'

    - name: Update Library Version
      run: |
          sed -i -E 's/^([[:space:]]*libVersion[[:space:]]*:=[[:space:]]*)"[^"]*"/\1"v${{ env.LIBRARY_VERSION }}"/' download_libs/download_libs.go
    - name: Download Native Libs
      run: go run download_libs/download_libs.go

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v5
      with:
        branch: release/${{ env.PACKAGE_VERSION }}
        title: "chore: bump native libs to version ${{ env.PACKAGE_VERSION }}"
        commit-message: "chore(native libs): updated version"
        body: |
          Automated native libs version bump.
        base: master
        add-paths: |
          ./libs
          ./download_libs/download_libs.go

    - name: Checkout release branch
      uses: actions/checkout@v4
      with:
        ref: release/${{ env.PACKAGE_VERSION }}

    - name: Create tag
      run: |
        git tag ${{ env.PACKAGE_VERSION }} || echo "Tag already exists"
        git push origin ${{ env.PACKAGE_VERSION }} || true

    - name: Notify slack releases channel
      uses: slackapi/slack-github-action@v2
      with:
        webhook: ${{ secrets.SLACK_RELEASES_PROD_WEBHOOK_URL }}
        webhook-type: webhook-trigger
        payload: |
          status: "${{ job.status }}"
          environment: "PRODUCTION"
          project: "LexActivator Go"